.header {
  display: table-header-group;
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #EDEDED;
  font-size: 14px;
  border-top: 1px solid #ddd;

  .header_item:first-child {
    border-left: 1px solid #ddd;
    border-radius: 20px 0 0 0;
  }
  .header_item:last-child {
    border-right: 1px solid #ddd;
    border-radius: 0 20px 0 0;
  }
  .header_item:only-child{
    border-radius: 20px 20px 0 0;
  }

  .header_item {
    display: table-cell;
    padding: 20px 30px;
  }

  .header_item-new{
    margin-left: 20px;
  }
}