.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  border: none;
  margin-bottom: 20px;
  border-collapse: separate;

  .table_content {
    display: table;
    max-width: 1280px;
  }

  .matrix_rows_add{
    display: block;
  }

}