.matrix{

}

.matrix_rows {
  display: table-row-group;

  .matrix_item {
    display: table-cell;

    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
  }

  .matrix_elem {
    .matrix_item:nth-last-child(2){
      border-right: 1px solid #ddd;
    }
  }

  .matrix_item:focus, .matrix_item:active {
    border-radius: 0;
  }

  .matrix_item:first-child {
    border-left: 1px solid #ddd;
  }
  .matrix_item:last-child{
    border-right: 1px solid #ddd;
  }

  .matrix_item-new{
    margin-left: 20px;
  }

  .matrix_row{
    display: table-row;
  }

  .matrix_rows-child{
    display: contents;
  }
  .matrix_child-hidden{
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
  }
}

.matrix_rows-parent{
  .matrix_row {
    .matrix_item {
      background: #f3f3f3;
    }
  }
}
.matrix_rows-parent:nth-child(odd){
  .matrix_elem {
    .matrix_item {
      background: #fff;
    }
  }
  .matrix_rows-child {
    .matrix_row:nth-child(even){
      .matrix_item {
        background: #fff;
      }
    }
  }
}

.matrix_rows-parent:nth-child(even){
  .matrix_rows-child {
    .matrix_row:nth-child(odd){
      .matrix_item {
        background: #fff;
      }
    }
  }
}

.matrix_rows-child {
  .matrix_row:last-child{
    .matrix_item {
      border-bottom: 1px solid #ddd;
    }
  }
}

.matrix_control {
  display: flex;
  align-items: center;
  height: 39px;

  .matrix_control-button{
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
  }
  .matrix_control-button:hover{
      background: #f3f3f3;
  }

  .matrix_control-add{
    margin-left: 2.5rem;
  }
  .matrix_control-hidden{
    margin-left: 1rem;

    transform: rotate(90deg);
  }
  .matrix_control-hidden-up{
    transform: rotate(-90deg);
  }
}